.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
  min-height: 100vh;
  height: 100%;
  background-color: var(--white-100);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
}

@media (max-width: 720px) {
  .main {
    padding: 1.5rem .5rem;
  }
}
