.form {
  max-width: calc(100% - 3rem);
  width: 800px;
  border-color: var(--gray-200);
}

.label {
  margin-bottom: 1.5rem;
}

.submit {
  padding: .5rem 2.45rem;
}

.inlineButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

@media (max-width: 720px) {
  .form {
    max-width: calc(100% - 2.1rem);
  }

  .submit {
    width: 100%;
    padding: 1rem .5rem;
  }

  .inlineButtons {
    margin-top: 1rem;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: .5rem;
  }
}
