.form {
  display: flex;
  flex-direction: column;

  padding: 1.5rem;
  max-width: calc(95% - 3rem);
  width: 500px;
  background-color: var(--white-100);
  border-radius: 1rem;
  border: var(--border-white-200);
}

.title {
  margin-bottom: 1.5rem;
  font-weight: 700;
  font-size: 1.38rem;
}
