.g-anim-grow {
  animation: grow .3s .2s both;
}

.g-anim-loading {
  animation: loading 2s both infinite;
}

@keyframes grow {
  0% {
    opacity: 0;
    transform: scale(45%);
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}

@keyframes loading {
  0%, 100% {
    background-color: hsl(228, 0%, 90%);
  }
  50% {
    background-color: hsl(228, 7%, 85%);
  }
}
