@import 'colors-scheme', 'functions';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --gray-200:   #999;
  --gray-100:   #777;
  --white-300:  #ddd;
  --white-200:  #ccc;
  --white-100:  #fff;
  --black-100:  #000;
  --green-200:  #32cf54;
  --green-100:  #47B960;
  --red-200:    #c73939;
  --red-100:    #FF5151;
  --blue-200:   #547cec;
  --blue-100:   #7695EC;
  --anim-loading-1: #c2cfd6;
  --anim-loading-2: #e7ecef;

  --border-white-200: 1px solid var(--white-200);
  --border-gray-200:  1px solid var(--gray-200);
  --border-gray-100:  1px solid var(--gray-100);

  --border-radius-box: 1rem;

  --shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);

  --text:               var(--black-100);
  --background:         var(--white-300);
  --modal-background:   rgba(119, 119, 119, 0.8);
}

body, main, section,
a, button, input, p, i,
h1, h2, h3, h4, h5, h6,
div, span, strong, svg,
path, small, img, figure,
header, footer, ul, li, ol,
select, label, em, b, article,
aside, nav, textarea {
  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: var(--white-200);
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-100);
}

::selection {
  color: var(--white-100);
  background-color: var(--blue-200);
}

a, button, input, textarea {
  text-decoration: none;
  background: none;
  outline: none;
  border: none;
  color: inherit;

  transition: outline .1s;

  &:focus {
    outline: .2rem solid var(--blue-200);
  }
}

a, button {
  cursor: pointer;
}

body {
  color: var(--text);
  background-color: var(--background);

  transition-property: background-color, color;
  transition-duration: .2s;
}

.g-title {
  font-weight: 700;
  font-size: 1.38rem;
}

@import 'animations';

@media (max-width: 720px) {
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
}
