.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.66rem 2.31rem;
  width: 100%;
  background-color: var(--blue-100);
}

.title {
  color: var(--white-100);
}

.logout {
  color: var(--white-100);
}
